<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="A" class="dipendencyinj.A" scope="prototype">
    <property name="bClass" ref="B"/>
</bean>
 
    <bean id="B" class="dipendencyinj.B" scope="prototype">
        <property name="cClass" ref="C"/>
    </bean>
 
    <bean id="C" class="dipendencyinj.C" scope="singleton">
 
</bean>
 
</beans>
 

